/* assets/styles/_tokens.scss */
:root {
  /* Colors */
  --color-bg: #021526;
  --color-bg-button-opacity-5: #8e6ce4;
  --color-bg-skill-button-opacity-11: #9bcbe8;
  --color-border-button: #62626f;
  --color-section-title: #dad7de;
  --color-text-bright: #ffffff;
  --color-text-dark: #62626f;
  --color-text-blue: #6eacda;
}
