/* Thin – 200 */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-v20-latin-200.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Light – 300 */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-v20-latin-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular – 400 */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-v20-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium – 500 */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-v20-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Inter 600 */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-v20-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Inter 700 */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-v20-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Inter 800 */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-v20-latin-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Inter 900 */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-v20-latin-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* … und so weiter */
