/* src/styles.scss */
@use "../public/assets/styles/all-styles.scss" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: $color-bg;
  color: $color-text-bright;
}

h1 {
  color: $color-section-title;
}
